html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: hsla(0, 0%, 93%, 0.933);
  word-break: break-word;
}